* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
}

a:link {
    text-decoration: none;
}

h1 {
    text-align: left;
    margin-left: 20px;
}

ul {
    text-align: right;
    margin-right: 20px;
}

li {
    display: inline;
    text-decoration: underline;
}
#mywork,
#contact,
footer {
    text-align: center;
}

#img1 {
margin-left: auto;
margin-right: auto;
display: block;
}

.images {
    display:flex;
    flex-wrap:wrap;
}